# ===========================================
# API - Backend (Node.js/Express)
# ===========================================
MONGODB_URI=mongodb+srv://<usuario>:<password>@cluster.mongodb.net/gestion-cursos
JWT_SECRET=tu_secreto_jwt_seguro
PORT=3000

# ===========================================
# Portal React
# ===========================================
VITE_API_URL=http://localhost:3000/api

# ===========================================
# Public Next.js
# ===========================================
NEXT_PUBLIC_API_URL=http://localhost:3000/api
